[submodule "dxswap-core"]
	path = dxswap-core
	url = git@github.com:levelkdev/dxswap-core.git
[submodule "dxswap-periphery"]
	path = dxswap-periphery
	url = git@github.com:levelkdev/dxswap-periphery.git
